
    <!-- nav start -->
    <div class="lg:col-span-1">
        <nav>
          <div class="flex justify-between mb-6 px-2 md:mb-16">
            <h1 class="font-bold uppercase">
              <a href="/" class="text-xl"><i class="fas fa-user-ninja mr-2"></i>Rest <span
                  class="text-red-700">Foods</span></a>
            </h1>
            <div class="px-4 cursor-pointer lg:hidden" id="open-menu">
              <i class="fas fa-bars"></i>
            </div>
          </div>
          <ul class="hidden lg:block mr-10 mb-10" id="menu">
            {% for obj in object_list %}
            <li class="my-3">
              <a class="rounded-lg py-2 px-3 text-md tracking-wider font-bold bg-custom-yellow block" href="{% url 'foods:detail-page' obj.name %}">
                <span>{{ obj.name }}</span>
              </a>
            </li>
            {% endfor %}
            <div class="mt-16">
              <span class="px-3 text-gray-500">Other</span>
              <li class="my-3">
                <a class="rounded-lg py-2 px-3 text-md tracking-wider font-bold" href="/orders/">
                  <i class="fas fa-redo-alt mr-2"></i>
                  <span>My Orders</span>
                </a>
              </li>
              <li class="my-3">
                <a class="rounded-lg py-2 px-3 text-md tracking-wider {% if '/accounts/profile/' in request.path %}font-bold bg-custom-yellow block {% endif %}" href="/accounts/profile/">
                  <i class="fas fa-user-alt mr-2"></i>
                  <span>Profile</span>
                </a>
              </li>
            </div>
          </ul>
        </nav>
      </div>
      <!--nav end-->
      <main class="lg:col-span-4">
        <div class="flex justify-center md:justify-end">
          <a href="index.html" class="rounded-full bg-gray-200 py-2 px-6 mr-auto"><i
              class="fas fa-long-arrow-alt-left"></i></a>
          <button class="font-bold rounded-full bg-white mr-2 py-2 px-3 shadow sm:block hidden cart"><i
              class="fas fa-shopping-basket"></i> 8
            items - $17.50</button>
          {% if request.user.is_authenticated %}
          <a href="/accounts/login/" class="font-bold rounded-full bg-yellow-400 ml-2 py-2 px-3">login</a>
          <a href="#" class="font-bold rounded-full bg-gray-300 py-2 px-3 ml-2">signup</a>
          {% endif %}
        </div>
        <button class="font-bold rounded-full bg-white mr-2 py-2 px-3 shadow block sm:hidden mt-5 w-full cart"><i
            class="fas fa-shopping-basket mr-3"></i> 8
          items - $17.50</button>
          
          <form class="max-w-md mx-auto">   
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="default-search" class="md:mt-10 block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 md:mt-12" placeholder="Search .."/>
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-black focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
            </div>
          </form>
          {# Message #}
          <div id="message" class=" mt-12 p-4 text-sm text-gray-800 rounded-lg bg-gray-50 dark:bg-gray-800 font-medium dark:text-gray-300 hidden" role="alert"></div>

          {% include "foods/partial/card.html" with queryset=object obj=object %}
  
  
      </main>